
/* BOOTSTRAP DEBUG */
/* [class^='container'] {
    border: 1px dashed black;
    background-color: lightblue;
    min-height: 80vh;
}

[class^='row'] {
    border: 1px dashed red;
}

[class^='col'] {
    border: 1px solid grey;
    background-color: aqua;
    height: 100px;
}
 */


/* GENERAL */
header .navbar-brand img{
    height: 50px;
}
.navbar-toggler{ 
   border: 1px solid rgba(255, 255, 255, 0.507);
   color: white;
}

.book{
    font-size: 14px;
}

tbody tr:hover td{
    background-color: #6c757d18;
}








/********************************************************
                    MOBILE FIRST
********************************************************/










/********************************************************
                    TABLET VIEW
********************************************************/















/********************************************************
                    DESKTOP VIEW
********************************************************/